* {
  margin: 0;
  padding: 0;
  font-family: "American Typewriter", sans-serif;
  outline: none;
}

input {
  background-color: #ddd;
  outline: none;
}


div.button {
  width: 15%;
  background: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  div.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }

  div.arrow-down {
    border-top: 5px solid #D95555;
  }

  div.arrow-up {
    border-bottom: 5px solid #D95555;
  }
}

div.IncDecInput {
  display: flex;
  width: 100%;
  height: 40px;
  gap: 5px;

  input {
    width: 100%;
    border: none;
    background: #f1f1f1;
    font-size: 20px;
    text-align: center;
    font-family: "American Typewriter", sans-serif;
  }
}




select {
  width: 100%;
  height: 40px;
  gap: 5px;
  border: none;
  background-color: #D9D9D9;
  text-align: center;
  font-family: "American Typewriter", sans-serif;
  cursor: pointer;
  padding-left: 15px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 10px;

}